.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 15px;
    background: #070707;
    margin-bottom: 100px;
    a{
        color: white;
    }
    &-list{
        display: flex;
        align-items: center;
        a{
            margin-right: 20px;
        }
    }
}